{% extends 'base.html' %}

{% block main %}
<div id="loader" class="center"></div>
    <h1>{{ channel['channelTitle'] }}</h1>
    <img class="rounded-circle" src="{{ channel['channelThumbnailDefault'] }}" alt="{{ channel['channelTitle'] }} logo">
    <script>
        document.onreadystatechange = function() {
            if (document.readyState !== "complete") {
                document.querySelector(
                  "body").style.visibility = "hidden";
                document.querySelector(
                  "#loader").style.visibility = "visible";
            } else {
                document.querySelector(
                  "#loader").style.display = "none";
                document.querySelector(
                  "body").style.visibility = "visible";
            }
        };
    </script>
{% endblock %}